style.css
body{
	background: #DCDCDC;
	font-family: courier;
  border-color: green;
}
h1{
  color: #2F4F4F;
  text-align: right;   
}
h2{
  color: #2F4F4F;
  text-align: right;
  line-height: 10px;
  }
h3{
  color: #2F4F4F;
  text-align: right;
  line-height: 10px;
}
p{
   color: #2F4F4F;
}

ul{
  color: #483D8B
}

ol {
 color: #483D8B
}


  
